#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

#pagination a,
#pagination i {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 1.33;
    background-color: ($white-color);
    color: ($text-black);
    transition: 0.35s;
    cursor: pointer;
}

#pagination a {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 13px;
}

#pagination i {
    margin: 0 3px 0 3px;
    padding-top: 13px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

#pagination a.current {

    background-color: ($accent-color-secondary);
    color: ($white-color);

}

#pagination a.arrows {
    font-size: 20px;
    padding-top: 5px;
    background: ($grey-color);
}