<header class="page-header">
  <div class="container">
    <div class="controls">
      <div class="logo">
        <a>Filmoteka</a>
      </div>
      <div class="menu">
        <a class="menu__item tab-home">Home</a>
        <a class="menu__item tab-library">My library</a>
      </div>
    </div>

    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="search-form__button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="library-buttons">
      <button class="button button--watched" type="button">Watched</button>
      <button class="button button--queue" type="button">Queue</button>
    </div>
  </div>
</header>
