<!-- movie-card modal container -->

<div class="movie-card__backdrop js-movie-card-modal is-hidden" data-modal-card>
  <div class="movie-card__modal">

    <button class="movie__modal--close" data-modal-close-btn>
      <svg class="movie__modal--close__icon" width="22" height="22">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
<div class="modal__movie-card--container">  
    <div class="modal__movie-card"></div>

    <div class="modal-buttons" id="add-to-list">
        <button class="button button--add-watched " type="button" data-watched>add to watched</button>
        <button class="button button--add-queue" type="button" data-queue>add to queue</button>
    </div>
 </div> 
    <!-- <div class="modal-buttons" id="add-to-list">
        <button class="button button--add-watched" type="button" data-watched>add to watched</button>
        <button class="button button--add-queue" type="button" data-queue>add to queue</button>
    </div> -->

  </div>
</div>
