<!-- movie-card__modal-window -->
<!-- <div class="movie-item__backdrop is-hidden" >
    <div class="movie__modal">
        <button class="movie__modal--close" >
            <svg class="movie__modal--close__icon" width="22" height="22">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>

        <div id="add-to-list">
            <button type="button" class="watched-button" data-watched>add to watched</button>
            <button type="button" class="queue-button" data-queue><span>add to queue</span></button>
        </div>

    </div>
</div> -->


<!-- <div id="add-to-list">
    <button type="button" class="watched-button" data-watched>add to watched</button>
    <button type="button" class="queue-button" data-queue><span>add to queue</span></button>
</div> -->